#page-wrapper{
  width: 100%; min-height: 400px; background-color: green; position: fixed
}

#banner
{
   width: 100% ; height: 150px; background-color: red
}

#side-bar{
 width: 25%; height: 500px; background-color: yellow; float: left; position: static
}


#content{
width: 75%; height: 450px; background-color: black; float: right; position: static

}

#footer{
width: 75%; height: 50px; background-color: orange; float: right; position: static
}

body{
background-color: pink;
}
.cards{
width: 33%;
height: 100px;
float: left;
border: 1px dotted green
}
