<<<<<<< HEAD
#page-wrapper{
  width: 100%;
  min-height: 400px;
  background-color: gray;
  position: fixed"
}
#banner{
  width: 100%;
  height: 150px;
  background-color: lightblue;
}
#side-bar{
  width: 25%;
  height: 440px;
  background-color: red;
  float: left; position: static;
}
#content{
  width: 75%;
  height: 400px;
  background-color: yellow;
  float: right;
  position: static;
}
#footer{
  width: 75%;
  height:  40px;
  background-color: black;
  float: right;
}
body{
  background-color: purple;
}
.cards{
  width: 33%;
  height: 100px;
  float: left;
  border: 1px solid black;
}
=======
<<<<<<< HEAD
#page-wrapper{
  width: 100%; min-height: 400px; background-color: green; position: fixed
}

#banner
{
   width: 100% ; height: 150px; background-color: red
}

#side-bar{
 width: 25%; height: 500px; background-color: yellow; float: left; position: static
}


#content{
width: 75%; height: 450px; background-color: black; float: right; position: static

}

#footer{
width: 75%; height: 50px; background-color: orange; float: right; position: static
}

body{
background-color: pink;
}
.cards{
width: 33%;
height: 100px;
float: left;
border: 1px dotted green
}
=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">



    #page-wrapper {
    width: 100%;
     min-height:400px;
     background-color: gray ;
      position:fixed
    }
    #Sidebar {
      width: 25%;
       height: 440px;
       background-color:red;
       float: left;
       position: static
            }

    #banner {
      width: 100%;
      height: 150px;
      background-color:blue
    }

    #content {
    width: 75%;
     height: 400px;
      background-color:yellow;
      float:right;
       position: static     }

    #footer{
    width: 75%;
    height: 40px;
    background-color:black;
    float:right;
    position: static
    }

    body{
      background-color: purple
    }
    .cards {width: 33%;
      height: 100px;
      float: left;
       border: 1px dotted black; }
</style>
  </head>
  <body>

  </body>
</html>
>>>>>>> d939b6395a5831fdbb8d02953fe53c1a7cda32cf
>>>>>>> bbe1d24b8b0916798f058c9f2b723ed49a712bee
