



       #site-logo {
                    width: 30%;
                    margin-top: 1.5px;
                    border-radius: 100%
                  }

        #app-name{
                  margin-top: 10px
                  }

    
