#page-wrapper{
  min-height:400px;
  width:100%;
  background-color:gray;
  position:fixed;
}
#sidebar{
  height:500px;
  width:25%;background-color:yellow;
  float:left;
  position:static;
}
#banner{
  height:150px;
  width:100%;
  background-color:lightblue;
}
#content{
  height:400px;
  width:75%;
  background-color:pink;
  float:right;
  position:static;
}
#footer{
  height:95px;
  width:75%;
  background-color:black;
  float:right;
  position:static;
}
.cards{
  width: 33%;
  height: 100px;
  border: 1px dotted black;
  float: left;
}
#site-logo{
  width:30%;
  margin-top:2.5px;
  border-radius: 80%;
}
#app-name{
  margin-top: 8px;
}
body{
  background-color: purple;
}
